[Desktop Entry]
Name=Install Conky
Comment=Install Conky
Exec=gnome-terminal -- sh -c 'cd "'"$(dirname %k)"'"; sudo bash ./install.sh'
Icon=org.gnome.DiskUtility
Type=Application
